<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSalePersonServlet</servlet-name>
        <servlet-class>controller.LoginSalePersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustServlet</servlet-name>
        <servlet-class>controller.LoginCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCarServlet</servlet-name>
        <servlet-class>controller.FindCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCarServlet</servlet-name>
        <servlet-class>controller.DetailCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishlistServlet</servlet-name>
        <servlet-class>controller.AddToWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveWishlistServlet</servlet-name>
        <servlet-class>controller.SaveWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindServiceTicketServlet</servlet-name>
        <servlet-class>controller.FindServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <servlet-class>controller.UpdateServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>controller.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutCustServlet</servlet-name>
        <servlet-class>controller.LogoutCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceCustTicketServlet</servlet-name>
        <servlet-class>controller.ServiceCustTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServiceTicketServlet</servlet-name>
        <servlet-class>controller.DetailServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>controller.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarSaleServlet</servlet-name>
        <servlet-class>controller.CarSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceMechanicTicketServlet</servlet-name>
        <servlet-class>controller.ServiceMechanicTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTicketServlet</servlet-name>
        <servlet-class>controller.ServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceMechanicServlet</servlet-name>
        <servlet-class>controller.ServiceMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCarInvoiceServlet</servlet-name>
        <servlet-class>controller.ShowCarInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <servlet-class>controller.CreateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmInvoiceServlet</servlet-name>
        <servlet-class>controller.ConfirmInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStaffServlet</servlet-name>
        <servlet-class>controller.LogoutStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSaleServlet</servlet-name>
        <servlet-class>controller.LogoutSaleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSalePersonServlet</servlet-name>
        <url-pattern>/LoginSalePersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustServlet</servlet-name>
        <url-pattern>/LoginCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCarServlet</servlet-name>
        <url-pattern>/FindCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCarServlet</servlet-name>
        <url-pattern>/DetailCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishlistServlet</servlet-name>
        <url-pattern>/AddToWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveWishlistServlet</servlet-name>
        <url-pattern>/SaveWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindServiceTicketServlet</servlet-name>
        <url-pattern>/FindServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <url-pattern>/UpdateServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutCustServlet</servlet-name>
        <url-pattern>/LogoutCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCustTicketServlet</servlet-name>
        <url-pattern>/ServiceCustTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServiceTicketServlet</servlet-name>
        <url-pattern>/DetailServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarSaleServlet</servlet-name>
        <url-pattern>/CarSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceMechanicTicketServlet</servlet-name>
        <url-pattern>/ServiceMechanicTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTicketServlet</servlet-name>
        <url-pattern>/ServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceMechanicServlet</servlet-name>
        <url-pattern>/ServiceMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCarInvoiceServlet</servlet-name>
        <url-pattern>/ShowCarInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <url-pattern>/CreateInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmInvoiceServlet</servlet-name>
        <url-pattern>/ConfirmInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStaffServlet</servlet-name>
        <url-pattern>/LogoutStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSaleServlet</servlet-name>
        <url-pattern>/LogoutSaleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginPage.html</welcome-file>
    </welcome-file-list>
</web-app>
